:root {
    --yellow: #fcc771;
    --grey: #dfdfdf;
    --taupe-1: #e9e6c9;
    --clay-1: #ca6144;
    --bluegrey-1: #566683;
    --darkblue-1: #393e51;
    --darkblue-2: #1e202b;
    --black: #191919;
    --darkgrey-font: #1f1f21;
    --green-highlight: #88ee9b;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--taupe-1);
    font-family: "Outfit", sans-serif;
    color: var(--darkgrey-font);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4em;
}

/* NAVBAR */

#navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    flex-direction: row;
    height: 3.5rem;
    width: 100vw;
    padding: 0 2em;
    background-color: var(--taupe-1);
    z-index: 1;
}

#navbar * {
    color: var(--darkgrey-font);
    text-decoration: none;
    font-size: 1.2rem;
}

.flex-container {
    display: flex;
    align-items: center;
}

.navbar-items {
    width: 30rem;
    justify-content: space-evenly;
}

.nav-socials {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1em;
}

i {
    color: var(--darkgrey-font);
}

/* WELCOME SECTION */

#welcome-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0.5em 2em;
    margin-top: 25vh;
    width: 50rem;
    height: 70vh;
    gap: 0.5em;
}

#welcome-section h1 {
    font-size: 4rem;
}

#hello-tag {
    font-size: 2rem;
    text-wrap: wrap;
    font-weight: 300;
}

#eng-span:before {
    content: "an electronic engineer";
    animation: job-animation 8s infinite;
}

#eng-span {
    font-weight: 500;
    text-align: center;
}

/* TECH STACK AND BIO */
#me {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--grey);
    height: fit-content;
    padding: 5em 0;
    gap: 3em;
}

#tech-stack {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 50%;
}

#tech-stack p {
    border: 1px solid var(--darkgrey-font);
    border-radius: 10px;
    padding: 5px;
}

#bio {
    display: flex;
    width: 50%;
    gap: 2em;
    align-items: center;
}

#img-bio {
    width: 25%;
    height: auto;
    border-radius: 10%;
}

/* PROJECTS */

#projects {
    display: flex;
    flex-direction: column;
    padding: 4em 0;
    /* border: 1px solid black; */
    width: 70%;
    align-items: center;
    gap: 2em;
}

#projects h1 {
    font-size: 2rem;
    padding-bottom: 0.5em;
}

.project {
    display: flex;
    gap: 2em;
}

.project-text {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#project-img {
    width: 25%;
    height: auto;
    border-radius: 10%;
}

@media only screen and (max-width: 700px) {
    main {
        padding-top: 1em;
    }

    #navbar {
        padding-top: 0.5em;
        padding-bottom: 5em;
        flex-direction: column;
    }

    .navbar-items {
        flex-direction: column;
        width: 100%;
    }

    #welcome-section {
        width: 100vw;
        height: 73vh;
    }

    #line-break:before {
        content: "";
        display: block;
    }

    #bio {
        width: 70%;
        flex-direction: column;
    }

    #img-bio {
        width: 35%;
    }

    .nav-socials {
        display: none;
    }

    .project {
        flex-direction: column;
        align-items: center;
    }
}

@keyframes job-animation {
    0% {
        content: "an electronic engineer";
        text-decoration: none;
    }

    5% {
        content: "an electronic engineer";
        text-decoration: none;
    }

    10% {
        content: "an electronic engineer";
    }

    11% {
        content: "an electronic enginee";
    }

    12% {
        content: "an electronic engine";
    }

    13% {
        content: "an electronic engin";
    }

    14% {
        content: "an electronic engi";
    }

    15% {
        content: "an electronic eng";
    }

    16% {
        content: "an electronic en";
    }

    17% {
        content: "an electronic e";
    }

    18% {
        content: "an electronic";
    }

    19% {
        content: "an electroni";
    }

    20% {
        content: "an electron";
    }

    21% {
        content: "an electro";
    }

    22% {
        content: "an electr";
    }

    23% {
        content: "an elect";
    }

    24% {
        content: "an elec";
    }

    25% {
        content: "an ele";
    }

    26% {
        content: "an el";
    }

    27% {
        content: "an e";
    }

    28% {
        content: "an";
    }

    29% {
        content: "a";
        text-decoration: none;
    }

    29.9% {
        opacity: 100%;
    }

    30% {
        content: "a";
        opacity: 0%;
    }

    33.9% {
        opacity: 0%;
    }

    34% {
        content: "a";
        opacity: 100%;
        text-decoration: none;
    }

    35% {
        content: "a f";
    }

    36% {
        content: "a fu";
    }

    37% {
        content: "a ful";
    }

    38% {
        content: "a full";
    }

    39% {
        content: "a full-s";
    }

    40% {
        content: "a full-st";
    }

    41% {
        content: "a full-sta";
    }

    42% {
        content: "a full-stac";
    }

    43% {
        content: "a full-stack";
    }

    44% {
        content: "a full-stack d";
    }

    45% {
        content: "a full-stack de";
    }

    46% {
        content: "a full-stack dev";
    }

    47% {
        content: "a full-stack deve";
    }

    48% {
        content: "a full-stack devel";
    }

    49% {
        content: "a full-stack develo";
    }

    50% {
        content: "a full-stack develop";
    }

    51% {
        content: "a full-stack develope";
        text-decoration: none;
        background-color: transparent;
    }

    52% {
        content: "a full-stack developer";
        text-decoration: underline;
        background-color: var(--green-highlight);
    }

    100% {
        content: "a full-stack developer";
        text-decoration: underline;
        background-color: var(--green-highlight);
    }

}